.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2c4b70;
  width: 20%; 
  height: 78vh;
  padding: 50px; 
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-image img:hover {
  transform: scale(1.1);
}

.profile-right {
  /* flex: 1; */
  width: 35%; 
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
  text-align: center;
  font-size: 1rem !important;
  color: #eee !important;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #eee;
  transition: background 0.3s;
}

.tabs .active {
  background: #0F3460;
  color: white;
}

.user-info label,
.course-info p {
  display: block;
  margin-top: 10px;
}

.user-info input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.password-update {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.password-input-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-input-container svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the icon */
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #555;
  transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.password-input-container svg:hover {
  color: #000;
  transform: translateY(-50%) scale(1.1); /* Center and scale the icon on hover */
}
.update-password{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 15px auto 0;
  padding: 10px;
  background: #0F3460;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.update-password:hover {
  background: #092c50;
}

.update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 15px auto 0;
  padding: 10px;
  background: #0F3460;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.update-button:hover {
  background: #092c50;
}

@media (max-width: 768px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
  }
  .profile-left {
    width: 100%;
  }
  .profile-right {
    width: 100%;
  }
}
